<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Amar's personal Website</title>
</head>

<body>
  <h1><em>Retro</em></h1>
  <table cellspacing="20">
    <tr>
      <td>
        <img src="../images/90s.png" alt="Retro pic..">
      </td>
      <td>
        <h2>Purpose</h2>
        <p>There is something about the way websites were designed in the 90's that
          appeal to me. So, I decided to make a Retro <strong>About me</strong> website, while giving homage 
          to classic HTML/CSS design; using technologies before our beloved <strong>React.js</strong> 
          and <strong>Angular </strong> were born. <em>Steve Wozniak, Bill Gates, Elon Musk, Larry Page,
          Sergey Brin</em> - all of them started somewhere. Yes, even these giants had
          to learn HTML/CSS at some point before revolutionizing the programming
          world. So, kick your feet up and lets go back in time.
        </p>
        <br>
        <p>
          ⌛ Enjoy the
          <a href="https://www.merriam-webster.com/dictionary/retro">Retro</a>.
          ✌
        </p>
      </td>
    </tr>
  </table>
  <hr size="3" noshade="">
  <br>
  <br>
  <h3>Projects</h3>
  <p>
    Interested in other fun projects? Here is a link to my personalized, custom built,
    <a href="https://www.codewidthme.com/">portfolio</a> website.
    <br>
    <br>
    <h3>LinkedIn</h3>
    <p><a href="https://www.linkedin.com/in/amarred07/"
    alt="AmarRed">Click here</a> to go to my LinkedIn page.</p>
  </p>
  <h3>GitHub</h3>
  <p>
    Check out my <a href="https://github.com/AmarRed07">GitHub</a> 
    to see beautifully written code and additonal contributions!
  </p>

  <hr size="3" noshade="">
  <h3>Work Experience</h3>
  <table border="1" cellspacing="2" >
    <thead>
      <tr>
        <th>
          Date
        </th>
        <th>
          Company
        </th>
        <th>
          Role
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          2021 - Present
        </td>
        <td>
          Conduent
        </td>
        <td>
          Hardware Technician in Information Technology
        </td>
      </tr>
      <tr>
        <td>
          2015 - 2020
        </td>
        <td>
          Vdara, Hotel & Spa
        </td>
        <td>
          Hotel & Opperations Manager  
        </td>
      </tr>
      <tr>
        <td>
          2009 - 2014
        </td>
        <td>
          Game Stop 
        </td>
        <td>
          Senior Game Advisor 
        </td>
      </tr>
    </tbody>
  </table>


  <h3>Education</h3>
  <ul>
    <li>
      2021-Current <br>
      <em>University of Las Vegas, Nevada</em> <br>
      <strong>(BS) Bachelor of Science: Computer Science</strong>
    </li>
    <br>
    <li>
      2017-2019 <br>
      <em>University of Las Vegas, Nevada</em> <br>
      <strong>(BA) Bachelor of Arts: Psychology</strong><br>
    </li>
    <br>
    <li>
      2014-2016 <br>
      <em>College of Southern Nevada</em> <br>
      <strong>(AS) Associate of Science: General Science</strong><br>
    </li>
  </ul>
  <br>
  <h3>Certifcations</h3>
  <ul>
    <li>
      Promenio Tech (Coding Bootcamp)<br>
    </li>
    <br>
    <li>
      iOS App Development (Codecademy)
    </li>
    <br>
    <li>
      The Complete Web Development Bootcamp (Udemy)
    </li>
  </ul>
  <br>
  <hr size="3" noshade="">
  <h3>Links</h3>
  <ol>
    <li>
      <a href="../components/contact.html">Contact Me</a>
    </li>
    <li>
      <a href="../components/images.html">Images</a>
    </li>
    <li>
      <a href="../components/paragraphs.html">Paragraphs</a>
    </li>
    <li>
      <a href="../components/music.html">Music</a>
    </li>
  </ol>

</body>

</html>
